.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    padding: 5vw;
}

.container label {
    align-self: flex-start;
}

.mobcont {
    display: flex;
    flex-direction: row-reverse;
}

.countrycode {
    width: 25vw;
    direction: ltr;
    border-right: none;
    border-radius: 2vw 0 0 2vw;
    text-align: center;
}

.mobile {
    width: 65vw;
    border-left: dotted;
    border-radius: 0 2vw 2vw 0;
}