.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1rem;
}

.container label {
    align-self: flex-start;
    margin: 3vw 5vw 0 0;
}

.container input {
    width: 90vw;
    text-align: left;
}

.mobcont {
    display: flex;
    flex-direction: row-reverse;
}

.countrycode {
    width: 25vw !important;
    direction: ltr;
    border-right: none !important;
    border-radius: 2vw 0 0 2vw !important;
}

.mobile {
    width: 65vw !important;
    border-left: dotted !important;
    border-radius: 0 2vw 2vw 0 !important;
}

.container button {
    width: 35vw;
    padding: 2vw 0;
    border-radius: 2vw;
    background-color: #a38483;
}

.cancelacc {
    background-color: red;
    width: 40vw;
    padding: 2vw 0;
    border-radius: 2vw;
    margin-top: 15vw;
}