.container {
    font-size: 1rem;
}

.container .order {
    margin: 5vw 3vw;
    padding: 4vw;
    border-style: solid;
    border-radius: 2vw;
    border-width: 0.5vw;
}

.orderdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    margin: 3vw 0;
}

.container p {
    text-align: right;
}

.container img {
    width: 25vw;
    border-radius: 2vw;
    margin-left: 3vw;
}