.filtertitle {
    text-align: right;
    margin-right: 2vw;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.filter select {
    width: 10vw;
    background-color: #ffd5d5;
    color: #a38483;
    font-weight: 600;
}

.sortprice {
    width: 16vw !important;
}

.filter button {
    background-color: white;
    color: #a38483;
    border-radius: 0;
    font-size: 1.2rem;
    font-weight: 100;
}