.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 3vw 0 10vw 0;
}

.container input[type="file"] {
    font-size: 0.8rem;
    padding: 1.5vw 2vw 9.5vw 0;
    width: 85vw;
}

.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border: solid;
    border-color: #a38483;
    border-radius: 2vw;
    border-width: 0.5vw;
    width: 90vw;
    padding: 3vw;
    margin-bottom: 3vw;
}

.preview button {
    align-self: flex-end;
    margin-right: auto;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
}

.images img {
    width: 26.7vw;
}

.actions {
    display: flex;
    margin-top: 5vw;
}