.container {
    font-size: 1.2rem;
}

.container h2 {
    margin-top: 3vw;
}

.container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 5vw 0;
}

.container input, .container select {
    width: 90vw;
}

.container input[type="file"] {
    font-size: 0.8rem;
    padding: 1.5vw 2vw 9.5vw 0;
    width: 85vw;
}

.preview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    border: solid;
    border-color: #a38483;
    border-radius: 2vw;
    border-width: 0.5vw;
    width: 90vw;
    padding: 3vw;
    margin: 2vw 0;
}

.preview img {
    border-radius: 2vw;
}

.preview button {
    align-self: flex-end;
    margin-right: auto;
}

.add {
    background-color: #25b425;
}

.product {
    margin: 5vw auto;
    border: solid;
    border-color: #a38483;
    border-radius: 2vw;
    border-width: 0.5vw;
    width: 90vw;
}

.productdet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2vw;
    padding: 3vw 3vw 0 3vw;
    cursor: pointer;
}

.product span {
    background-color: white;
    color: #a38483;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0;
    margin-left: 2vw;
}

.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vw;
    width: 100%;
}

.product img {
    width: 26.7vw;
    border-radius: 2vw;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5vw;
    padding: 0 3vw 3vw 3vw;
}

.deleted {
    color: red !important;
    font-weight: bold;
}

.actions button {
    margin: 0;
}

.actions .buttonalign {
    margin-right: auto;
}